.moviecard{
    border-radius: 15px;
    text-align: center;
    width: 200px;
}

.cardimg{
    width: 190px;
    height: 250px;
    display: inline-block;
    margin-top: 7px;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.cardimg:hover{
    cursor: pointer;
    transform: scale(0.97);
}

.info{
    margin: 10px;
    margin-top: 0;
}

@media (max-width: 600px) {
    .moviecard{
        width: 100%;
    }

    .cardimg{
        width: 90%;
        height: 500px;
        object-fit: cover;
    }
}
