.searchsortbar{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;

}

.searchbox{
    border-radius: 10px;
    padding: 3px 0 3px 3px;
    border: none;
    background-color: aliceblue;
    box-shadow: inset 4px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.searchbox:hover{
    background-color: white;
    transform: scale(1.03);
}

.sortbox{
    border-radius: 10px;
    padding: 3px 0 3px 3px;
    border: none;
    background-color: aliceblue;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.sortbox:hover{
    cursor: pointer;
    background-color: white;
    transform: scale(1.03);
}


    @media (max-width: 600px) {
        .searchsortbar{
            flex-direction: column;
            align-items: center;
        }

        .sort{
            margin: none;
        }

        .nowplaying{
            margin-bottom: 20px;
        }

        .search > input{
            margin-bottom: 20px;
        }
    }
